body {
	font-family: 'Istok Web', Helvetica, Arial, sans-serif;
}
#membership-viz {
    margin: 0 auto;
    max-width: 1170px;
}
#membership-viz p strong {
	background-color: transparent;
}
#membership-viz section {
    text-align: center;
}
#membership-viz p,
#membership-viz tr,
#membership-viz  td {
	margin: 0;
	padding: 0;
}
#membership-viz table,
#membership-viz tr, 
#membership-viz td {
	border-collapse: collapse;
}
#membership-viz .caps {
	font-size: 0.7em;
	text-transform: uppercase;
}
#membership-viz .align-center {
	text-align: center;
}
.posabs { position: absolute; }
.posrel { position: relative; }
.no-display { display: none; }

#membership-viz .cf:before,
#membership-viz .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
#membership-viz .cf:after { clear: both; }
#membership-viz .cf { *zoom: 1; }

/* d3 */
#membership-viz .unit {
    fill: transparent;
    stroke: #666;
    stroke-width: 0.4;
    z-index: 1;
}
#membership-viz .unit.hovered {
	stroke: #222;
	stroke-width: 1.2;
	z-index: 3;
}

#membership-viz .q0-9 { fill:#B4D4E7; background-color:#B4D4E7; }
#membership-viz .q1-9 { fill:#77B1D6; background-color:#77B1D6; }
#membership-viz .q2-9 { fill:rgb(33,113,181); background-color:rgb(33,113,181); }
#membership-viz .q3-9 { fill:rgb(8,81,156); background-color:rgb(8,81,156); }
#membership-viz .q4-9 { fill:rgb(8,48,107); background-color:rgb(8,48,107); }

#membership-viz #legend {
	font-size: 0.8em;
	margin: 0 auto 15px;
	width: 200px;
}
#membership-viz #legend tr {
	height: 10px;
	width: 100%;
}
#membership-viz #legend td {
	border-right: 1px solid #ccc;
	width: 20%;
}
#membership-viz #legend .values td {
	border: 0;
	text-align: right;
	position: relative;
	top: 0px;
	right: -8px;	
}
#membership-viz #legend .lines {
	background-color: white;
}
#membership-viz p#label {
	background-color: white;
	border: 1px solid #CCC;
	left: 3%;
	font-size: 0.8em;
	padding: 5px 10px;
	top: 20%;
	width: 85px;
}
#membership-viz #members {
    padding: 20px 0;
}
#membership-viz #info-box {
	background-color: white;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 4px #ddd;
	-moz-box-shadow: 0px 0px 4px #ddd;
	box-shadow: 0px 0px 4px #ddd;
	font-size: 0.9em;
	max-width: 180px;
	padding: 8px;
	z-index: 5;
}
#membership-viz .note {
	border-top: 1px solid #ccc;
	font-size: 0.75em;
	padding-top: 10px;
	margin-top: 10px;
}
/*
 *  File:         demo_table.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     $Date$ by $Author$
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     http://www.snd.org/wp-content/uploads/2013/09/ - relative to this CSS file.
 */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

#membership-viz .dataTables_wrapper {
	position: relative;
	clear: both;
	zoom: 1; /* Feeling sorry for IE */
	font-size: 0.9em;
}

#membership-viz .dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

#membership-viz .dataTables_length,
#membership-viz .dataTables_filter,
#membership-viz .dataTables_info, 
#membership-viz .dataTables_paginate {
	margin-bottom: 15px;
}

#membership-viz .dataTables_info, 
#membership-viz .dataTables_paginate {
	margin-top: 10px;
}
#membership-viz .dataTables_length {
	width: 40%;
	float: left;
}
#membership-viz .dataTables_length select {
   background: transparent;
   padding: 5px;
   font-size: 1em;
   line-height: 1;
   border: 1px solid #ccc;
   border-radius: 0;
   /*-webkit-appearance: none;*/
}
#membership-viz .dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}
#membership-viz .dataTables_filter input {
	font-family: 'Istok Web', Helvetica, Arial, sans-serif;
	font-size: 1em;
	padding: 2px 7px 0px;
}
#membership-viz .dataTables_info {
	width: 60%;
	float: left;
}

#membership-viz .dataTables_paginate {
	float: right;
	text-align: right;
}

/* Pagination nested */
#membership-viz .paginate_disabled_previous, #membership-viz .paginate_enabled_previous,
#membership-viz .paginate_disabled_next, #membership-viz .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
	padding: 0px 10px;
}
#membership-viz .paginate_disabled_previous:hover, #membership-viz .paginate_enabled_previous:hover,
#membership-viz .paginate_disabled_next:hover, #membership-viz .paginate_enabled_next:hover {
	text-decoration: none !important;
}
#membership-viz .paginate_disabled_previous:active, #membership-viz .paginate_enabled_previous:active,
#membership-viz .paginate_disabled_next:active, #membership-viz .paginate_enabled_next:active {
	outline: none;
}

#membership-viz .paginate_disabled_previous,
#membership-viz .paginate_disabled_next {
	color: #666 !important;
}
#membership-viz .paginate_disabled_previous, #membership-viz .paginate_enabled_previous {
	padding-left: 23px;
}
#membership-viz .paginate_disabled_next, #membership-viz .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

#membership-viz .paginate_disabled_previous {
	background: url('http://www.snd.org/wp-content/uploads/2013/09/back_disabled.png') no-repeat top left;
}

#membership-viz .paginate_enabled_previous {
	background: url('http://www.snd.org/wp-content/uploads/2013/09/back_enabled.png') no-repeat top left;
}
#membership-viz .paginate_enabled_previous:hover {
	background: url('http://www.snd.org/wp-content/uploads/2013/09/back_enabled_hover.png') no-repeat top left;
}

#membership-viz .paginate_disabled_next {
	background: url('http://www.snd.org/wp-content/uploads/2013/09/forward_disabled.png') no-repeat top right;
}

#membership-viz .paginate_enabled_next {
	background: url('http://www.snd.org/wp-content/uploads/2013/09/forward_enabled.png') no-repeat top right;
}
#membership-viz .paginate_enabled_next:hover {
	background: url('http://www.snd.org/wp-content/uploads/2013/09/forward_enabled_hover.png') no-repeat top right;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
#membership-viz table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}
#membership-viz table.display thead {
	text-align: left;
}
#membership-viz table.display thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
}

#membership-viz table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

#membership-viz table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

#membership-viz table.display td {
	padding: 8px 10px;
	vertical-align: top;
}

#membership-viz table.display td.center {
	text-align: center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

#membership-viz .sorting_asc {
	background: url('http://www.snd.org/wp-content/uploads/2013/09/sort_asc.png') no-repeat center right;
}

#membership-viz .sorting_desc {
	background: url('http://www.snd.org/wp-content/uploads/2013/09/sort_desc.png') no-repeat center right;
}

#membership-viz .sorting {
	background: url('http://www.snd.org/wp-content/uploads/2013/09/sort_both.png') no-repeat center right;
}

#membership-viz .sorting_asc_disabled {
	background: url('http://www.snd.org/wp-content/uploads/2013/09/sort_asc_disabled.png') no-repeat center right;
}

#membership-viz .sorting_desc_disabled {
	background: url('http://www.snd.org/wp-content/uploads/2013/09/sort_desc_disabled.png') no-repeat center right;
}
 
#membership-viz table.display thead th:active,
#membership-viz table.display thead td:active {
	outline: none;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
#membership-viz tr.odd {
	background-color: #fafafa;
}

#membership-viz tr.even {
	background-color: white;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
#membership-viz .dataTables_scroll {
	clear: both;
}

#membership-viz .dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}

#membership-viz .top, #membership-viz .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#membership-viz .top .dataTables_info {
	float: none;
}

#membership-viz .clear {
	clear: both;
}

#membership-viz .dataTables_empty {
	text-align: center;
}

#membership-viz tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

#membership-viz tfoot input.search_init {
	color: #999;
}

#membership-viz td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

#membership-viz td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


#membership-viz .example_alt_pagination div.dataTables_info {
	width: 40%;
}

#membership-viz .paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

#membership-viz .paging_full_numbers a:active {
	outline: none
}

#membership-viz .paging_full_numbers a:hover {
	text-decoration: none;
}

#membership-viz .paging_full_numbers a.paginate_button,
#membership-viz .paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

#membership-viz .paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

#membership-viz .paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

#membership-viz .paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}

#membership-viz table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

#membership-viz table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}


/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
#membership-viz tr.odd td.sorting_1 {
	background-color: #ececec;
}

#membership-viz tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

#membership-viz tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

#membership-viz tr.even td.sorting_1 {
	background-color: #fafafa;
}

#membership-viz tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

#membership-viz tr.even td.sorting_3 {
	background-color: #F9F9FF;
}

/*
 * KeyTable
 */
#membership-viz table.KeyTable td {
	border: 3px solid transparent;
}

#membership-viz table.KeyTable td.focus {
	border: 3px solid #3366FF;
}

#membership-viz table.display tr.gradeA {
	background-color: #eeffee;
}

#membership-viz table.display tr.gradeC {
	background-color: #ddddff;
}

#membership-viz table.display tr.gradeX {
	background-color: #ffdddd;
}

#membership-viz table.display tr.gradeU {
	background-color: #ddd;
}

#membership-viz div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}

/* responsiveness */
@media (max-width: 720px){
	#membership-viz .visible-desktop,
	#membership-viz .dataTables_wrapper {
		display: none;
	}

	#membership-viz .unit {
	    stroke-width: 0.12;
	}
}
@media (max-width: 670px){
	#membership-viz p#label {
		top: 60%;
	}
}
@media (max-width: 450px){
	#membership-viz p#label {
		display: none;
	}
}